*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: fit-content;
    height: 100vh;
    background-attachment: fixed;
    overflow: hidden;
}

nav{
    width: 1350px;
    padding: 10px;
    margin: 10px;
    display: flex;
    border: none;
    outline: none;
    justify-content: space-between;
    position: fixed;
}

nav .btns{
    display: flex;
}

nav .btns button{
    width: 90px;
    height: 30px;
    margin: 10px;
    border-radius: 50px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

nav .btns button:hover{
    background: #fff;
    border: none;
    outline: none;
    color: #000;
}

nav .btns .srch{
    padding: 2px;
    margin: 10px;
    display: flex;
    background: transparent;
    border: solid 1px #fff;
    outline: none;
    border-radius: 50px;
}

nav .btns .srch input{
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

nav .logo{
    display: flex;
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    color: #fff;
}

nav  .links{
    display: inline-flex;
    margin: 10px;
    padding: 5px;
}

nav .links ul li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}

nav .links ul li img{
    display: none;
}

nav .links ul li a{
    text-decoration: none;
    color: #fff;
}

::placeholder{
    color: #ffffffff;
    font-style: italic;
}

.main{
    width: 1350px;
    height: 425px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.main .text{
    width: 60%;
    text-align: center;
    height: 400px;
    background: transparent;
    gap: 2px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.main .text h2{
    font-size: 40px;
    font-family: 'Poppins' sans-serif;
    margin-top: 25px;
    color: #fff;
}

.main .text h3{
    color: #fff;
    font-size: 20px;
    display: flex;
    margin-left: 150px;
}

.main .text p{
    color: white;
    display: flex;
    margin: 5px;
    padding: 5px;
    line-height: 25px;
}

#name{
    font-size: 30px;
    display: flex;
    color: #fff;
    margin-left: 150px;
}

.main .photo{
    width: 38%;
    height: 400px;
    background: transparent;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.main .text .submit{
    display: flex;
    margin: 10px;
    margin-left: 25px;
    padding: 10px;
    justify-content: center;
    gap: 10px;
}

.main .text .submit .accounts{
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

.main .text .submit .accounts:hover{
    background: transparent;
    color: #000;
    transition: 0.5s ease-in-out;
}

.main .text .submit .accounts img{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.main .text .submit .accounts a{
    text-decoration: none;
    color: #fff;
}

.main .text .submit .accounts a:hover{
    background: transparent;
    color: #000;
    transition: 0.5s ease-in-out;
}

.main .photo img{
    width: 400px;
    height: 400px;
    display: inline-flex;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 10px;
}

@media (max-width: 720px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url('./assets/background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: fit-content;
        height: 100vh;
        background-attachment: fixed;
    }

    nav{
        width: 680px;
        padding: 10px;
        margin: 2px;
        display: flex;
        border: none;
        outline: none;
        justify-content: space-between;
        position: fixed;
    }

    nav .btns{
        display: none;
    }

    nav .links{
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-left: 10px;
        margin-top: 10px;
    }

    .menu span{
        width: 25px;
        height: 3px;
        background: #fff;
        margin: 3px;
        margin-left: 355px;
        cursor: pointer;
    }

    .links ul li a{
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        margin-top: 2rem;
        display: block;
        font-size: 1.3rem;
        transition: color 0.2s ease;
    }

    .links ul li img{
        border: none;
        border-radius: 50%;
    }

    .main{
        width: 600px;
        display: inline-flex;
        height: 300px;
    }

    .main .text{
        width: 400px;
        display: inline;
        margin: 5px;
        text-align: center;
        margin-bottom: 20px;
    }

    .main .text h2{
        font-size: 30px;
        color: blue;
    }

    .main .text #name{
        font-size: 14px;
        align-self: center;
        display: inline-flex;
        margin-right: 30px;
    }

    .main .text p{
        font-size: 13px;
        text-align: center;
        display: flex;
        margin-left: 15px;
    }

    .main .photo{
        display: flex;
    }

    .main .photo img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-right: 250px;
    }
    
    .main .submit{
        margin-top: 10px;
        display: inline-flex;
        left: 50px;
    }

    .main .submit .accounts{
        margin-top: 10px;
        margin-left: 120px;
        right: 50px;
    }
}